altgraph==0.17.4
attrs==23.2.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
h11==0.14.0
idna==3.6
Jinja2==3.1.3
MarkupSafe==2.1.5
numpy==1.26.3
outcome==1.3.0.post0
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
plotly==5.20.0
pycparser==2.21
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
PyQt5==5.15.10
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqt5-tools==5.15.9.3.3
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
pyqtgraph==0.13.3
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PySocks==1.7.1
python-dotenv==1.0.0
pywin32==306
pywin32-ctypes==0.2.2
qt-material==2.14
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
reportlab==4.0.9
requests==2.31.0
selenium==4.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
tenacity==8.2.3
trio==0.24.0
trio-websocket==0.11.1
urllib3==2.1.0
webdriver-manager==4.0.1
wsproto==1.2.0
